<template>
    <div class="wrapper clearfix">
        <app-player :playerData="firstPlayer" :isActive="activePlayer" :winner="winner"></app-player>
        <app-player :playerData="secondPlayer" :isActive="activePlayer" :winner="winner"></app-player>
        
        <button class="btn-new" @click="initGame"><i class="ion-ios-plus-outline"></i>New game</button>
        <button class="btn-roll" @click="diceRoll"><i class="ion-ios-loop"></i>Roll dice</button>
        <button class="btn-hold" @click="holdScore"><i class="ion-ios-download-outline"></i>Hold</button>
        
        <img src="src/assets/img/dice-5.png" alt="Dice" class="dice" ref="diceRollImg">
    </div>
</template>

<script>
    import Player from './Player.vue'

    let me = this;

    export default {
        components: {
            'app-player': Player
        },
        data: function() {
            return {
                gamePlaying: false,
                diceVal: 0,
                activePlayer: 1,
                winner: 0,
                diceImg: '',
                firstPlayer: {
                    playerName: 'Player 1',
                    totalScore: 0,
                    roundScore: 0,
                    playerId: 1
                },
                secondPlayer: {
                    playerName: 'Player 2',
                    totalScore: 0,
                    roundScore: 0,
                    playerId: 2
                }
            }
        },
        methods: {
            initGame: function() {
                this.activePlayer = 1;
                this.roundScore = 0;
                this.gamePlaying = true;
                this.winner = 0;
            
                // Reset values to 0 at the beginning of game
                this.diceImg.style.display = 'none';

                this.firstPlayer.roundScore = 0;
                this.firstPlayer.totalScore = 0;
                this.firstPlayer.playerName = 'Player 1';

                this.secondPlayer.roundScore = 0;
                this.secondPlayer.totalScore = 0;
                this.secondPlayer.playerName = 'Player 2';
            },
            nextPlayer: function() {
                (this.activePlayer == 1) ? this.activePlayer = 2 : this.activePlayer = 1; 
                this.roundScore = 0;
                this.firstPlayer.roundScore = 0;
                this.secondPlayer.roundScore = 0;
                this.diceImg.style.display = 'none';
            },
            diceRoll: function() {
                if(this.gamePlaying) {
                    // 1.get random number
                    this.diceVal = Math.floor(Math.random() * 6) + 1;

                    // 2.display the result
                    this.diceImg.style.display = 'block';
                    this.diceImg.src = `src/assets/img/dice-${this.diceVal}.png`;

                    // update the round score if dice is not 1
                    if(this.diceVal != 1) {
                        (this.activePlayer == 1) ? this.firstPlayer.roundScore += this.diceVal : this.secondPlayer.roundScore += this.diceVal
                    }
                    else {
                        // change active player
                        (this.activePlayer == 1) ? this.activePlayer = 2 : this.activePlayer = 1;
                        this.firstPlayer.roundScore = 0;
                        this.secondPlayer.roundScore = 0;

                        this.diceImg.style.display = 'none';
                    }
                }
            },
            holdScore: function() {
                if(this.gamePlaying) {
                    // 1.add round score to total score
                    let scoreCheck = 0;
                    let player = '';
                    if(this.activePlayer == 1) {
                        this.firstPlayer.totalScore += this.firstPlayer.roundScore;
                        scoreCheck =  this.firstPlayer.totalScore;
                        player = this.firstPlayer;
                    }
                    else {
                        this.secondPlayer.totalScore += this.secondPlayer.roundScore;
                        scoreCheck =  this.secondPlayer.totalScore;
                        player = this.secondPlayer;
                    }
                    // 2.check if player won the gathis 
                    if(scoreCheck >= 100) {
                        this.gamePlaying = false;
                        player.playerName = 'WINNER!';
                        this.diceImg.style.display = 'none';
                        this.winner = this.activePlayer;
                    }
                    // 3. next player's turn
                    else {
                        this.nextPlayer();
                    }
                }
            }
        },
        mounted: function() {
            this.diceImg = document.querySelector('.dice')
            this.initGame();
        }
    }
</script>

<style>

</style>
