<template>
     <div :class="[playerPanelClass, playerActiveClass, playerWinnerClass]">
        <div class="player-name" :id="playerNameId">{{playerData.playerName}}</div>
        <div class="player-score" :id="playerScoreId">{{playerData.totalScore}}</div>
        <div class="player-current-box">
            <div class="player-current-label">current</div>
            <div class="player-current-score">{{playerData.roundScore}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['playerData', 'isActive', 'winner'],
        computed: {
            playerPanelClass: function() {
                // add active class to first player at the begining of game
                return `player-${this.playerData.playerId}-panel`;
            },
            playerActiveClass: function() {
                 if (this.playerData.playerId == this.isActive) return 'active';
            },
            playerWinnerClass: function() {
                if (this.playerData.playerId == this.winner) return 'winner';
            },
            playerNameId: function() {
                return `name-${this.playerData.playerId}`;
            },
            playerScoreId: function() {
                return `score-${this.playerData.playerId}`;
            }
        }
    }
</script>

<style>

</style>
