<template>
    <div id="app">
        <app-dice-roll></app-dice-roll>
    </div>
</template>

<script>
    import DiceRoll from './components/DiceRoll.vue';

    export default {
        components: {
            'app-dice-roll': DiceRoll
        }
    }
</script>

<style>

</style>
